* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  display: block;
  width: 300px;
  margin: 0 auto 30px;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #555;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 220px;
  padding: 20px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
  text-align: center;
  transition: .3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
}

.big-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #555;
}

.no-user {
  font-size: 22px;
  font-weight: bold;
  color: crimson;
}

button{
  padding: 10px 20px;
  background-color: rgb(91, 141, 17);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover{
  transform: translateY(-2px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.3);
}

.light{
  background-color: whitesmoke;
}

.dark{
  background-color: #28282B;
}